FrontEndCSharp/LP2Rest/Connected Services/GestPersonasWS/GestPersonasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2rest.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GestPersonasWS" targetNamespace="http://services.lp2rest.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2RestWebServices/GestPersonasWS?xsd=1" namespace="http://services.lp2rest.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="filtrarClientes">
    <part name="parameters" element="tns:filtrarClientes" />
  </message>
  <message name="filtrarClientesResponse">
    <part name="parameters" element="tns:filtrarClientesResponse" />
  </message>
  <message name="ModificarEvento">
    <part name="parameters" element="tns:ModificarEvento" />
  </message>
  <message name="ModificarEventoResponse">
    <part name="parameters" element="tns:ModificarEventoResponse" />
  </message>
  <message name="InsertarEvento">
    <part name="parameters" element="tns:InsertarEvento" />
  </message>
  <message name="InsertarEventoResponse">
    <part name="parameters" element="tns:InsertarEventoResponse" />
  </message>
  <message name="EliminarAdministrador">
    <part name="parameters" element="tns:EliminarAdministrador" />
  </message>
  <message name="EliminarAdministradorResponse">
    <part name="parameters" element="tns:EliminarAdministradorResponse" />
  </message>
  <message name="ListarTodosReclamos">
    <part name="parameters" element="tns:ListarTodosReclamos" />
  </message>
  <message name="ListarTodosReclamosResponse">
    <part name="parameters" element="tns:ListarTodosReclamosResponse" />
  </message>
  <message name="insertarAsistencia">
    <part name="parameters" element="tns:insertarAsistencia" />
  </message>
  <message name="insertarAsistenciaResponse">
    <part name="parameters" element="tns:insertarAsistenciaResponse" />
  </message>
  <message name="listarTodasRecepcionistas">
    <part name="parameters" element="tns:listarTodasRecepcionistas" />
  </message>
  <message name="listarTodasRecepcionistasResponse">
    <part name="parameters" element="tns:listarTodasRecepcionistasResponse" />
  </message>
  <message name="listarTodasArtistas">
    <part name="parameters" element="tns:listarTodasArtistas" />
  </message>
  <message name="listarTodasArtistasResponse">
    <part name="parameters" element="tns:listarTodasArtistasResponse" />
  </message>
  <message name="listarTodasClientes">
    <part name="parameters" element="tns:listarTodasClientes" />
  </message>
  <message name="listarTodasClientesResponse">
    <part name="parameters" element="tns:listarTodasClientesResponse" />
  </message>
  <message name="EliminarRecepcionista">
    <part name="parameters" element="tns:EliminarRecepcionista" />
  </message>
  <message name="EliminarRecepcionistaResponse">
    <part name="parameters" element="tns:EliminarRecepcionistaResponse" />
  </message>
  <message name="EliminarCuentaUsuario">
    <part name="parameters" element="tns:EliminarCuentaUsuario" />
  </message>
  <message name="EliminarCuentaUsuarioResponse">
    <part name="parameters" element="tns:EliminarCuentaUsuarioResponse" />
  </message>
  <message name="listarTodasAdministradores">
    <part name="parameters" element="tns:listarTodasAdministradores" />
  </message>
  <message name="listarTodasAdministradoresResponse">
    <part name="parameters" element="tns:listarTodasAdministradoresResponse" />
  </message>
  <message name="listarTodasCajeros">
    <part name="parameters" element="tns:listarTodasCajeros" />
  </message>
  <message name="listarTodasCajerosResponse">
    <part name="parameters" element="tns:listarTodasCajerosResponse" />
  </message>
  <message name="ModificarRecepcionista">
    <part name="parameters" element="tns:ModificarRecepcionista" />
  </message>
  <message name="ModificarRecepcionistaResponse">
    <part name="parameters" element="tns:ModificarRecepcionistaResponse" />
  </message>
  <message name="InsertarCuentaUsuario">
    <part name="parameters" element="tns:InsertarCuentaUsuario" />
  </message>
  <message name="InsertarCuentaUsuarioResponse">
    <part name="parameters" element="tns:InsertarCuentaUsuarioResponse" />
  </message>
  <message name="ModificarAdministrador">
    <part name="parameters" element="tns:ModificarAdministrador" />
  </message>
  <message name="ModificarAdministradorResponse">
    <part name="parameters" element="tns:ModificarAdministradorResponse" />
  </message>
  <message name="ModificarCuentaUsuario">
    <part name="parameters" element="tns:ModificarCuentaUsuario" />
  </message>
  <message name="ModificarCuentaUsuarioResponse">
    <part name="parameters" element="tns:ModificarCuentaUsuarioResponse" />
  </message>
  <message name="listarTodasCuentasUsuario">
    <part name="parameters" element="tns:listarTodasCuentasUsuario" />
  </message>
  <message name="listarTodasCuentasUsuarioResponse">
    <part name="parameters" element="tns:listarTodasCuentasUsuarioResponse" />
  </message>
  <message name="ListarBusquedaReclamos">
    <part name="parameters" element="tns:ListarBusquedaReclamos" />
  </message>
  <message name="ListarBusquedaReclamosResponse">
    <part name="parameters" element="tns:ListarBusquedaReclamosResponse" />
  </message>
  <message name="listarTodasMeseros">
    <part name="parameters" element="tns:listarTodasMeseros" />
  </message>
  <message name="listarTodasMeserosResponse">
    <part name="parameters" element="tns:listarTodasMeserosResponse" />
  </message>
  <message name="listarTodasEventos">
    <part name="parameters" element="tns:listarTodasEventos" />
  </message>
  <message name="listarTodasEventosResponse">
    <part name="parameters" element="tns:listarTodasEventosResponse" />
  </message>
  <message name="InsertarRecepcionista">
    <part name="parameters" element="tns:InsertarRecepcionista" />
  </message>
  <message name="InsertarRecepcionistaResponse">
    <part name="parameters" element="tns:InsertarRecepcionistaResponse" />
  </message>
  <message name="InsertarAdministrador">
    <part name="parameters" element="tns:InsertarAdministrador" />
  </message>
  <message name="InsertarAdministradorResponse">
    <part name="parameters" element="tns:InsertarAdministradorResponse" />
  </message>
  <message name="FiltrarEventos">
    <part name="parameters" element="tns:FiltrarEventos" />
  </message>
  <message name="FiltrarEventosResponse">
    <part name="parameters" element="tns:FiltrarEventosResponse" />
  </message>
  <message name="ModificarCajero">
    <part name="parameters" element="tns:ModificarCajero" />
  </message>
  <message name="ModificarCajeroResponse">
    <part name="parameters" element="tns:ModificarCajeroResponse" />
  </message>
  <message name="filtrarPorDni">
    <part name="parameters" element="tns:filtrarPorDni" />
  </message>
  <message name="filtrarPorDniResponse">
    <part name="parameters" element="tns:filtrarPorDniResponse" />
  </message>
  <message name="InsertarCajero">
    <part name="parameters" element="tns:InsertarCajero" />
  </message>
  <message name="InsertarCajeroResponse">
    <part name="parameters" element="tns:InsertarCajeroResponse" />
  </message>
  <message name="InsertarChef">
    <part name="parameters" element="tns:InsertarChef" />
  </message>
  <message name="InsertarChefResponse">
    <part name="parameters" element="tns:InsertarChefResponse" />
  </message>
  <message name="EliminarMesero">
    <part name="parameters" element="tns:EliminarMesero" />
  </message>
  <message name="EliminarMeseroResponse">
    <part name="parameters" element="tns:EliminarMeseroResponse" />
  </message>
  <message name="EliminarArtista">
    <part name="parameters" element="tns:EliminarArtista" />
  </message>
  <message name="EliminarArtistaResponse">
    <part name="parameters" element="tns:EliminarArtistaResponse" />
  </message>
  <message name="EliminarCliente">
    <part name="parameters" element="tns:EliminarCliente" />
  </message>
  <message name="EliminarClienteResponse">
    <part name="parameters" element="tns:EliminarClienteResponse" />
  </message>
  <message name="ModificarMesero">
    <part name="parameters" element="tns:ModificarMesero" />
  </message>
  <message name="ModificarMeseroResponse">
    <part name="parameters" element="tns:ModificarMeseroResponse" />
  </message>
  <message name="InsertarArtista">
    <part name="parameters" element="tns:InsertarArtista" />
  </message>
  <message name="InsertarArtistaResponse">
    <part name="parameters" element="tns:InsertarArtistaResponse" />
  </message>
  <message name="ModificarCliente">
    <part name="parameters" element="tns:ModificarCliente" />
  </message>
  <message name="ModificarClienteResponse">
    <part name="parameters" element="tns:ModificarClienteResponse" />
  </message>
  <message name="InsertarReclamo">
    <part name="parameters" element="tns:InsertarReclamo" />
  </message>
  <message name="InsertarReclamoResponse">
    <part name="parameters" element="tns:InsertarReclamoResponse" />
  </message>
  <message name="ModificarChef">
    <part name="parameters" element="tns:ModificarChef" />
  </message>
  <message name="ModificarChefResponse">
    <part name="parameters" element="tns:ModificarChefResponse" />
  </message>
  <message name="ModificarReclamo">
    <part name="parameters" element="tns:ModificarReclamo" />
  </message>
  <message name="ModificarReclamoResponse">
    <part name="parameters" element="tns:ModificarReclamoResponse" />
  </message>
  <message name="EliminarEvento">
    <part name="parameters" element="tns:EliminarEvento" />
  </message>
  <message name="EliminarEventoResponse">
    <part name="parameters" element="tns:EliminarEventoResponse" />
  </message>
  <message name="InsertarMesero">
    <part name="parameters" element="tns:InsertarMesero" />
  </message>
  <message name="InsertarMeseroResponse">
    <part name="parameters" element="tns:InsertarMeseroResponse" />
  </message>
  <message name="ModificarArtista">
    <part name="parameters" element="tns:ModificarArtista" />
  </message>
  <message name="ModificarArtistaResponse">
    <part name="parameters" element="tns:ModificarArtistaResponse" />
  </message>
  <message name="EliminarReclamo">
    <part name="parameters" element="tns:EliminarReclamo" />
  </message>
  <message name="EliminarReclamoResponse">
    <part name="parameters" element="tns:EliminarReclamoResponse" />
  </message>
  <message name="listarTodasChefs">
    <part name="parameters" element="tns:listarTodasChefs" />
  </message>
  <message name="listarTodasChefsResponse">
    <part name="parameters" element="tns:listarTodasChefsResponse" />
  </message>
  <message name="EliminarCajero">
    <part name="parameters" element="tns:EliminarCajero" />
  </message>
  <message name="EliminarCajeroResponse">
    <part name="parameters" element="tns:EliminarCajeroResponse" />
  </message>
  <message name="InsertarCliente">
    <part name="parameters" element="tns:InsertarCliente" />
  </message>
  <message name="InsertarClienteResponse">
    <part name="parameters" element="tns:InsertarClienteResponse" />
  </message>
  <message name="EliminarChef">
    <part name="parameters" element="tns:EliminarChef" />
  </message>
  <message name="EliminarChefResponse">
    <part name="parameters" element="tns:EliminarChefResponse" />
  </message>
  <portType name="GestPersonasWS">
    <operation name="filtrarClientes">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/filtrarClientesRequest" message="tns:filtrarClientes" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/filtrarClientesResponse" message="tns:filtrarClientesResponse" />
    </operation>
    <operation name="ModificarEvento">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarEventoRequest" message="tns:ModificarEvento" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarEventoResponse" message="tns:ModificarEventoResponse" />
    </operation>
    <operation name="InsertarEvento">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarEventoRequest" message="tns:InsertarEvento" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarEventoResponse" message="tns:InsertarEventoResponse" />
    </operation>
    <operation name="EliminarAdministrador">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarAdministradorRequest" message="tns:EliminarAdministrador" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarAdministradorResponse" message="tns:EliminarAdministradorResponse" />
    </operation>
    <operation name="ListarTodosReclamos">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ListarTodosReclamosRequest" message="tns:ListarTodosReclamos" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ListarTodosReclamosResponse" message="tns:ListarTodosReclamosResponse" />
    </operation>
    <operation name="insertarAsistencia">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/insertarAsistenciaRequest" message="tns:insertarAsistencia" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/insertarAsistenciaResponse" message="tns:insertarAsistenciaResponse" />
    </operation>
    <operation name="listarTodasRecepcionistas">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasRecepcionistasRequest" message="tns:listarTodasRecepcionistas" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasRecepcionistasResponse" message="tns:listarTodasRecepcionistasResponse" />
    </operation>
    <operation name="listarTodasArtistas">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasArtistasRequest" message="tns:listarTodasArtistas" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasArtistasResponse" message="tns:listarTodasArtistasResponse" />
    </operation>
    <operation name="listarTodasClientes">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasClientesRequest" message="tns:listarTodasClientes" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasClientesResponse" message="tns:listarTodasClientesResponse" />
    </operation>
    <operation name="EliminarRecepcionista">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarRecepcionistaRequest" message="tns:EliminarRecepcionista" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarRecepcionistaResponse" message="tns:EliminarRecepcionistaResponse" />
    </operation>
    <operation name="EliminarCuentaUsuario">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarCuentaUsuarioRequest" message="tns:EliminarCuentaUsuario" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarCuentaUsuarioResponse" message="tns:EliminarCuentaUsuarioResponse" />
    </operation>
    <operation name="listarTodasAdministradores">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasAdministradoresRequest" message="tns:listarTodasAdministradores" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasAdministradoresResponse" message="tns:listarTodasAdministradoresResponse" />
    </operation>
    <operation name="listarTodasCajeros">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasCajerosRequest" message="tns:listarTodasCajeros" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasCajerosResponse" message="tns:listarTodasCajerosResponse" />
    </operation>
    <operation name="ModificarRecepcionista">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarRecepcionistaRequest" message="tns:ModificarRecepcionista" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarRecepcionistaResponse" message="tns:ModificarRecepcionistaResponse" />
    </operation>
    <operation name="InsertarCuentaUsuario">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarCuentaUsuarioRequest" message="tns:InsertarCuentaUsuario" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarCuentaUsuarioResponse" message="tns:InsertarCuentaUsuarioResponse" />
    </operation>
    <operation name="ModificarAdministrador">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarAdministradorRequest" message="tns:ModificarAdministrador" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarAdministradorResponse" message="tns:ModificarAdministradorResponse" />
    </operation>
    <operation name="ModificarCuentaUsuario">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarCuentaUsuarioRequest" message="tns:ModificarCuentaUsuario" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarCuentaUsuarioResponse" message="tns:ModificarCuentaUsuarioResponse" />
    </operation>
    <operation name="listarTodasCuentasUsuario">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasCuentasUsuarioRequest" message="tns:listarTodasCuentasUsuario" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasCuentasUsuarioResponse" message="tns:listarTodasCuentasUsuarioResponse" />
    </operation>
    <operation name="ListarBusquedaReclamos">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ListarBusquedaReclamosRequest" message="tns:ListarBusquedaReclamos" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ListarBusquedaReclamosResponse" message="tns:ListarBusquedaReclamosResponse" />
    </operation>
    <operation name="listarTodasMeseros">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasMeserosRequest" message="tns:listarTodasMeseros" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasMeserosResponse" message="tns:listarTodasMeserosResponse" />
    </operation>
    <operation name="listarTodasEventos">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasEventosRequest" message="tns:listarTodasEventos" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasEventosResponse" message="tns:listarTodasEventosResponse" />
    </operation>
    <operation name="InsertarRecepcionista">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarRecepcionistaRequest" message="tns:InsertarRecepcionista" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarRecepcionistaResponse" message="tns:InsertarRecepcionistaResponse" />
    </operation>
    <operation name="InsertarAdministrador">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarAdministradorRequest" message="tns:InsertarAdministrador" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarAdministradorResponse" message="tns:InsertarAdministradorResponse" />
    </operation>
    <operation name="FiltrarEventos">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/FiltrarEventosRequest" message="tns:FiltrarEventos" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/FiltrarEventosResponse" message="tns:FiltrarEventosResponse" />
    </operation>
    <operation name="ModificarCajero">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarCajeroRequest" message="tns:ModificarCajero" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarCajeroResponse" message="tns:ModificarCajeroResponse" />
    </operation>
    <operation name="filtrarPorDni">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/filtrarPorDniRequest" message="tns:filtrarPorDni" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/filtrarPorDniResponse" message="tns:filtrarPorDniResponse" />
    </operation>
    <operation name="InsertarCajero">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarCajeroRequest" message="tns:InsertarCajero" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarCajeroResponse" message="tns:InsertarCajeroResponse" />
    </operation>
    <operation name="InsertarChef">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarChefRequest" message="tns:InsertarChef" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarChefResponse" message="tns:InsertarChefResponse" />
    </operation>
    <operation name="EliminarMesero">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarMeseroRequest" message="tns:EliminarMesero" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarMeseroResponse" message="tns:EliminarMeseroResponse" />
    </operation>
    <operation name="EliminarArtista">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarArtistaRequest" message="tns:EliminarArtista" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarArtistaResponse" message="tns:EliminarArtistaResponse" />
    </operation>
    <operation name="EliminarCliente">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarClienteRequest" message="tns:EliminarCliente" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarClienteResponse" message="tns:EliminarClienteResponse" />
    </operation>
    <operation name="ModificarMesero">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarMeseroRequest" message="tns:ModificarMesero" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarMeseroResponse" message="tns:ModificarMeseroResponse" />
    </operation>
    <operation name="InsertarArtista">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarArtistaRequest" message="tns:InsertarArtista" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarArtistaResponse" message="tns:InsertarArtistaResponse" />
    </operation>
    <operation name="ModificarCliente">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarClienteRequest" message="tns:ModificarCliente" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarClienteResponse" message="tns:ModificarClienteResponse" />
    </operation>
    <operation name="InsertarReclamo">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarReclamoRequest" message="tns:InsertarReclamo" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarReclamoResponse" message="tns:InsertarReclamoResponse" />
    </operation>
    <operation name="ModificarChef">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarChefRequest" message="tns:ModificarChef" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarChefResponse" message="tns:ModificarChefResponse" />
    </operation>
    <operation name="ModificarReclamo">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarReclamoRequest" message="tns:ModificarReclamo" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarReclamoResponse" message="tns:ModificarReclamoResponse" />
    </operation>
    <operation name="EliminarEvento">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarEventoRequest" message="tns:EliminarEvento" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarEventoResponse" message="tns:EliminarEventoResponse" />
    </operation>
    <operation name="InsertarMesero">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarMeseroRequest" message="tns:InsertarMesero" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarMeseroResponse" message="tns:InsertarMeseroResponse" />
    </operation>
    <operation name="ModificarArtista">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarArtistaRequest" message="tns:ModificarArtista" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/ModificarArtistaResponse" message="tns:ModificarArtistaResponse" />
    </operation>
    <operation name="EliminarReclamo">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarReclamoRequest" message="tns:EliminarReclamo" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarReclamoResponse" message="tns:EliminarReclamoResponse" />
    </operation>
    <operation name="listarTodasChefs">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasChefsRequest" message="tns:listarTodasChefs" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/listarTodasChefsResponse" message="tns:listarTodasChefsResponse" />
    </operation>
    <operation name="EliminarCajero">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarCajeroRequest" message="tns:EliminarCajero" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarCajeroResponse" message="tns:EliminarCajeroResponse" />
    </operation>
    <operation name="InsertarCliente">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarClienteRequest" message="tns:InsertarCliente" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/InsertarClienteResponse" message="tns:InsertarClienteResponse" />
    </operation>
    <operation name="EliminarChef">
      <input wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarChefRequest" message="tns:EliminarChef" />
      <output wsam:Action="http://services.lp2rest.pucp.edu.pe/GestPersonasWS/EliminarChefResponse" message="tns:EliminarChefResponse" />
    </operation>
  </portType>
  <binding name="GestPersonasWSPortBinding" type="tns:GestPersonasWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="filtrarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodosReclamos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasRecepcionistas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasArtistas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasAdministradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasCajeros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasCuentasUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarBusquedaReclamos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasMeseros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasEventos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FiltrarEventos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="filtrarPorDni">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarChef">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarMesero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarArtista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarMesero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarArtista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarReclamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarChef">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarReclamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarMesero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarArtista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarReclamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasChefs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarChef">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GestPersonasWS">
    <port name="GestPersonasWSPort" binding="tns:GestPersonasWSPortBinding">
      <soap:address location="http://localhost:8080/LP2RestWebServices/GestPersonasWS" />
    </port>
  </service>
</definitions>